.text-center {
  text-align: center;
}
.pricing img {
  width: 100px;
}
.bar-1 {
  width: 50px;
  height: 5px;
  background-color: red;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 30px;
}
.bar-2 {
  width: 50px;
  height: 5px;
  background-color: #0d6efd;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 30px;
}
.bar-3 {
  width: 50px;
  height: 5px;
  background-color: #198754;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 30px;
}
.bar-4 {
  width: 50px;
  height: 5px;
  background-color: #6c757d;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 30px;
}
